body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}

.header-section {
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    color: #fff;
}

.header-section h1 {
    font-size: 50px;
    margin: 0;
}

.header-section p {
    font-size: 24px;
    margin: 10px 0 0;
}

.contact-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.section-title {
    color: #f39c12;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-card {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.contact-card:hover {
    transform: translateY(-10px);
}

.contact-card img {
    border-radius: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.contact-card h3 {
    color: #f39c12;
    margin-bottom: 10px;
}

.contact-card p {
    color: #bdc3c7;
    margin: 5px 0;
}

.contact-card .role-majitel {
    background-color: #f39c12;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.contact-card .role-mainhelper {
    background-color: #0059cd;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.contact-card .role-helper {
    background-color: #00B2EE;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.contact-card .role-manager {
    background-color: #970a0a;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.contact-card .social-icons img {
    width: 25px;
    margin: 0 5px;
    cursor: pointer;
}

.navbar-top {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 46px;
}

.navbar-bot {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 46px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    user-select: none;
    justify-content: center;
}

.navbar-menu li {
    float: left;
}

.navbar-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.navbar-menu li a:hover {
    background-color: #575757;
}

.navbar-menu li a.active {
    background-color: #333;
    color: #f39c12;
    pointer-events: none;
    user-select: none;
}

.navbar-menu li a.ncli {
    background-color: #333;
    pointer-events: none;
    user-select: none;
}

.content-servis {
    padding-top: 55px;
    padding-bottom: 40px;
    text-align: center;
    color: #ecf0f1;
    flex: 1;
}

.content-home {
    padding: 50px 30px;
}

.orangeh1 {
    color: #f39c12;
    font-size: 36px;
    margin-bottom: 20px;
}

.h133ff8d { 
    color: #33ff8d;
    font-size: 36px;
    margin-bottom: 20px;
}

.iframe-container {
    padding-top: 46px;
    padding-bottom: 46px;
    height: calc(100vh - 92px);
    overflow: hidden;
}

.iframe-container-local {
    padding-top: 46px;
    height: calc(100vh - 46px);
    overflow: hidden;
}

.iframe-mapa {
    width: 100%;
    height: 100%;
    border: none;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
}

.service {
    background-color: #00868B;
    border: 1px solid #2c3e50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    text-align: left;
    width: 100%; /* Šířka obdélníku */
    height: 200px; /* Výška obdélníku */
    box-sizing: border-box;
}

.service:hover {
    transform: scale(1.05);
}

.service h2 {
    color: #ecf0f1;
    font-size: 24px;
    margin-bottom: 10px;
}

.service p {
    color: #bdc3c7;
    font-size: 16px;
}

.footer-text {
    text-align: center;
    padding: 6px;
    background-color: #333;
    color: white;
}

.servert {
    color: #fa7900;
    font-size: 36px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 12px;
}

.header-section-homepage {
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.content-servis-homepage {
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center;
    color: #ecf0f1;
    flex: 1;
}